@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

body{
    animation: transition 0.75s;
}

.m1{
    color:rgb(116, 233, 0);;
}

.header{
    display: block;
    text-align: center;
    border-bottom: 1px solid black;
}

.header p{
    animation: fromLeft 0.75s;
    font-family: 'Montserrat', sans-serif;
    font-size: 10vw;
    padding: 20px;
}
.header a{
    display:none;
}

.main-info{
    margin-top: 5vh;
    display: block;
    text-align: center;

}
.main-info h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 8vw;
}
.main-info p{
    animation: fromLeft 0.75s;
    font-family: 'Montserrat', sans-serif;
    padding-inline: 2vw;
    padding-top:5vh;
    padding-bottom:5vh;
    font-size: 5vw;
    line-height: 2em;
}
.main-info img{
    background-color: rgba(117, 233, 0, 0.754);
    padding: 10vw;
    animation: fromRight 0.75s, wave 4s ease-in-out infinite;
    transition: all 1s ease-in-out;
    width: 50%;
}
.tech{
    overflow-y: hidden;
    margin-top: 5vh;
    margin-bottom: 5vh;
    display: block;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 5vw;
}
.tech-img{
    animation: fromLeft 0.75s;
}
.p1{
    opacity: 0;
    position: absolute;
    left: 38%;
}
.p2{
    opacity: 0;
    position: absolute;
    left: 49%;
}
.p3{
    opacity: 0;
    position: absolute;
    left: 60%;
}

.tech-img img{
    padding-inline: 3vw;
    margin-top:3vh;
    display: inline-block;
    width: 15vw;
}
.footer{
    border-top: 1px solid black;
    margin-top:3vh;
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;
    display: block;
    text-align:center;
}
.footer a{
    text-decoration: none;
    color: black;
    font-size: 10vw;
}
marquee{
    display:none;
}
@media only screen and (min-width: 768px) {
    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header p{
        text-align: left;
        font-size: 5vw;
        padding: 20px;
    }
    .header a{
        animation: fromRight 0.75s;
        display: flex;
        text-decoration: none;
        color: black;
        font-size: 5vw;
        padding:20px;
    }
    .main-info{
        font-family: 'Montserrat', sans-serif;
        font-size: 5vw;
    }
    .info-content{
        display: flex;
        justify-content: center;
        align-items:center;
        margin-inline:2em;
        
    }
    .main-info h1{
        font-size: 3vw;
    }
    .main-info p{
        width: 50%;
        padding-bottom: 2.5vh;
        font-size: 1.5vw;
    }
    .main-info img{
        height: 10%;
        width: 16%;
        padding: 2.5vw;
    }
    .tech{
        font-size: 3vw;
    }
    .tech-img img{
        padding-inline: 2.5vw;
        width: 5vw;
    }
    .link1:hover .p1{
        opacity: 1;
    }
    .link2:hover .p2{
        opacity: 1;
    }
    .link3:hover .p3{
        opacity: 1;
    }
    .footer{
        display:none;
    }
}

@keyframes transition {
    from{
        opacity: 0;
    } to{
        opacity: 1;
    }
}
@keyframes fromLeft {
    from{
        transform: translateX(-100%);
    } to{
        transform: translateX(0);
    }
}
@keyframes fromRight {
    from{
        transform: translateX(500%);
    } to{
        transform: translateX(0);
    }
}
@keyframes wave{
    0%{
        border-radius: 60% 40% 30% 70%/60% 40% 70% 30%;
    }
    50%{
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }
    100%{
        border-radius: 60% 40% 30% 70%/60% 40% 70% 30%;
    }
}