@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
    --black-color: rgb(14,16,21);
    --hover-button: rgb(243, 83, 83);
    --dyno-button: rgb(193,35,79);
}
body{
    margin:0;
    padding:0;
    background-color: var(--black-color);
}
.logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    color:white;
    font-weight: bold;
    font-size: 1.5rem;
    padding-left: 32px;
}
.logo p{
    padding-left: 16px;
    letter-spacing: 4px;
}
.logo img{
    width: 40px;
    height: 40px;
}
header{
    display: flex;
    flex-direction: row;
}
header ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 16px;
}
header a{
    text-decoration: none;
}
header ul li{
    color: white;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    padding-right: 24px;
}
header ul li a{
    color:white;
    text-decoration: none;
    transition: all 0.25s;
}

header ul li a:hover{
    color: var(--hover-button);
}

.button-premium{
    height: 35px;
    width: 120px;
    background:none;
    color: var(--dyno-button);
    border-radius: 2px;
    cursor: pointer;
    border: 1px solid var(--dyno-button);
    font-weight: bold;
    transition: all 0.25s;
}
.button-premium:hover{
    color:white;
    background-color: var(--dyno-button);
}
.header-buttons{
    display: flex;
    flex-direction: row;
    padding-left: 710px;
    align-items: center;
}
.header-buttons-1{
    background-color: rgb(46, 50, 61);
    color:white;
    border: none;
    border-radius: 2px;
    font-family: 'Roboto', sans-serif;
    height: 35px;
    width: 130px;
    transition: all 0.25s;
    cursor:pointer;
    font-size: 16px;
    /* font-weight: bold; */
}

.header-buttons-1:hover{
    background-color:rgb(39, 39, 39);
}

.header-buttons-2{
    background-color: var(--dyno-button);
    color:white;
    border: none;
    border-radius: 2px;
    font-family: 'Roboto', sans-serif;
    height: 35px;
    width: 150px;
    font-size: 15px;
    margin-left: 8px;
    transition: all 0.25s;
    cursor:pointer;
    /* font-weight: bold; */
}
.header-buttons-2:hover{
    background-color:rgb(163, 39, 55);
}
.verify-content{
    padding-left: 30vw;
    padding-top: 10vh;
}
.verify-content .page-title h1{
    padding: 0;
    padding-top: 16px;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color:white;
    font-size: 3rem;
}
.verify-content .page-title p{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color:gray;
}
.page-content{
    padding: 0;
    padding-top: 16px;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color:white;
}
.page-content img{
    display: flex;
    width: 50%;
    padding-top: 16px;
}
.p1-verify{
    color:rgb(122, 122, 122);
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    width: 650px;
    font-size: 1.25rem;
}
.p1-verify a{
    color:rgb(122, 122, 122);
    text-decoration: none;
}

.bookmark{
    width: 500px;
    height: 70px;
    background-color: var(--dyno-button);
    border:none;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    color:white;
    font-size: 1.5rem;
    font-weight: bold;
    cursor:pointer;
    transition: all 0.25s;
}
.bookmark:hover{
    background-color:  rgb(163, 39, 55);
}
.page-content ul{
}
.page-content li{
    font-family: 'Roboto', sans-serif;
    color:white;
    font-size: 2rem;
    list-style: none;
    padding-top: 24px;
}
footer{
    display: flex;
    flex-direction: row;
    justify-content:center;
}
.footer-column1 img{
    width: 40px;
    height: 40px;
    padding-bottom: 60px;
}
.socials{
    display: flex;
    flex-direction: row;
}
.socials img{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    width: 20px;
    height: auto;
    padding-right: 60px;
}
.footercp1{
    font-family: 'Roboto', sans-serif;
    color:var(--hover-button);
}
.footercp2{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color:rgb(70, 70, 70); 
    font-weight: bold;
    font-size: 12px;
}

.footer-column2 p{
    font-family: 'Roboto', sans-serif;
    color:grey;
}
.footer-column2 ul{
    font-family: 'Roboto', sans-serif;
}
.footer-column2 li{
    padding-top: 16px;
    list-style: none;
    font-weight: bold;
}
.footer-column2 a{
    text-decoration: none;
    color:white;
}

.footer-column3 p{
    font-family: 'Roboto', sans-serif;
    color:grey;
}
.footer-column3 ul{
    font-family: 'Roboto', sans-serif;
}
.footer-column3 li{
    padding-top: 16px;
    list-style: none;
    font-weight: bold;
}
.footer-column3 a{
    text-decoration: none;
    color:white;
}